<% provide(:title, 'About') %>


<h1>How it works</h1>

<div class="about-container">
<h3>Poutly 4 Steps to better cash flow</h3>

<p class="lead">1.) Add clients and invoices</p>
Simply enter the clients information


<p class="lead">2.) Set reminders</p>
A two click process

<p class="lead">3.) Email reminders are sent automagically</p>

Nothing for you to do, this step is all us.

<p class="lead">4.) Get Paid</p>

Check the invoice as paid to stop sending reminders.

</div>