<% provide(:title, 'About') %>


<h1>How it works</h1>

<div class="about-container">
<h3>Poutly 4 Steps to better cash flow</h3>

<p class= "lead">Step 1 - Add clients and invoices</p>
<p class= "lead">Step 2 - Set reminders</p>
<p class= "lead">Step 3 - Email reminders are sent automagically</p>
<p class= "lead">Step 4 - Get Paid</p>


</div>