<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
The best way to reach us is by email: <br>

talk@poutly.com<br>

You can also reach us by Twitter:<br>

@poutly<br>

We try to respond to all emails within 24 hours.<br>
</p>
