<%# if @feed_items.try(:any?) %>

	<ol class = "clients">
		<%#= render partial: 'shared/feed_item' %>
	</ol>

	<ul class = "nav nav-list">
		<li class = "divider"></li>

	</ul>

	<span class="label label-info">  Mail Reminder Set  <span class="icon-bullhorn"></span></span>
	<span class="label label-info">  Mark As Paid  <span class="icon-ok"></span></span>
	<span class="label label-info">  Create Mail Reminder  <span class="icon-envelope"></span></span>
	<span class="label label-info">  Edit Item  <span class="icon-edit"></span></span>

	<%#= will_paginate @feed_items%>
<%# end %>