<li>
	<span class="project_name">
		<%= client.name%>'s <%= client.project_name%>
	</span>

	<span class="name">
		
	</span>

	<span class="amount">
		<%= number_to_currency(client.amount)%>
	</span>

	<span	class = "timestamp">
		Posted <%= time_ago_in_words(client.created_at) %> ago.
	</span>

</li>